# Virtual environment folders
.venv/
venv/


.env/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment and config files
*.env
.envrc

# IDE and editor settings (optional but recommended)
.vscode/
.idea/
