streamlit
pymongo
qdrant-client
langchain
langchain-google-genai
langchain-qdrant
langchain-community
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
google-generativeai
PyPDF2
PyPDF
python-dotenv
tqdm

