pymongo
streamlit>=1.36.0
python-dotenv>=1.0.1
google-generativeai>=0.3.0
requests>=2.32.0
langchain>=0.2.10
langchain-community>=0.2.10
langchain-google-genai>=0.0.9
langchain-qdrant>=0.1.0
pypdf>=4.2.0
sentence-transformers>=2.7.0
qdrant-client>=1.7.3
pydrive2